* {
	margin: 0;
	padding: 0;
	line-height: 1.15;
	box-sizing: border-box;
}

.container {
	max-width: 320px;
	margin: 0 auto;
}

.about-me_avatar {
	width: 100%;
}

.about-me > p {
	padding: 10px;
}