* {
	margin: 0;
	padding: 0;
	line-height: 1.15;
	box-sizing: border-box;
}

.container {
	max-width: 95%;
	margin: 0 auto;
}

.about-me {
	font-family: sans-serif;
	font-size: 25px;
}

.about-me_avatar {
	width: 100%;
}

.about-me > p {
	padding: 10px;
}

.about-me_description {
	background-color: #eee;
}

.about-me_skills {
	background-color: #cdcdcd;
}