* {
	margin: 0;
	padding: 0;
	line-height: 1.15;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.header {
	color: lime;
	font-family: monospace;
	letter-spacing: 2px;
	line-height: 5vh;
	font-size: 30px;
}

.header:before {
	content: ">> ";
}

.container {
	overflow: hidden;
	position: relative;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#555, #222 15%, #111 30%, #111 70%, #222 85%, #555);
	z-index: 1;
	perspective: 1200px;
}

.container > div, .header, .footer {
	position: absolute;
}

.container div {
	width: 40vw;
	height: 50vh;
	transform: rotateY(30deg);
	top: 25vh;
	box-shadow: -90px 5px 30px -30px black;
	font-size: 0;
}

.container div a img {
	position: absolute;
	width: 40vw;
	height: 50vh;
}

.c-text {
	display: block;
	position: absolute;
	font-weight: bold;
	letter-spacing: 3px;
	color: lime;
	text-transform: uppercase;
	line-height: 50vh;
	text-align: center;
	font-family: sans-serif;
	width: 100%;
}

.header {
	height: 5vh;
	width: 100vw;
	background-color: #000;
	top: 0;
	z-index: 10;
}

.footer {
	height: 5vh;
	width: 100vw;
	background-color: #000;
	bottom: 0;
	z-index: 10;
}

.about {
	left: 10vw;
}

.works {
	left: 26.66vw;
}

.freetime {
	left: 43.33vw;
}

.contacts {
	left: 60vw;
}

@keyframes anim1 {
	from {}
	5% {transform: rotateY(30deg) translateX(-28vw) scale(1.1);}
	6% {transform: rotateY(0deg) translateX(-28vw) scale(1.1);}
	9% {transform: rotateY(0deg) translateX(-28vw) scale(1.4);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;}
	11% {transform: rotateY(0deg) translateX(19vw) scale(1.7);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;
		font-size: 0;}
	20% {transform: rotateY(0deg) translateX(19vw) scale(1.7);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;
		font-size: 30px;}
	to {transform: rotateY(0deg) translateX(19vw) scale(1.7);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;
		font-size: 30px;}
}

@keyframes anim2 {
	from {}
	5% {transform: rotateY(30deg) translateX(-28vw) scale(1.1);}
	6% {transform: rotateY(0deg) translateX(-28vw) scale(1.1);}
	9% {transform: rotateY(0deg) translateX(-28vw) scale(1.4);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;}
	11% {transform: rotateY(0deg) translateX(4vw) scale(1.7);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;
		font-size: 0;}
	20% {transform: rotateY(0deg) translateX(4vw) scale(1.7);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;
		font-size: 30px;}
	to {transform: rotateY(0deg) translateX(4vw) scale(1.7);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;
		font-size: 30px;}
}

@keyframes anim3 {
	from {}
	5% {transform: rotateY(30deg) translateX(-28vw) scale(1.1);}
	6% {transform: rotateY(0deg) translateX(-28vw) scale(1.1);}
	9% {transform: rotateY(0deg) translateX(-28vw) scale(1.4);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;}
	11% {transform: rotateY(0deg) translateX(-12vw) scale(1.7);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;
		font-size: 0;}
	20% {transform: rotateY(0deg) translateX(-12vw) scale(1.7);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;
		font-size: 30px;}
	to {transform: rotateY(0deg) translateX(-12vw) scale(1.7);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;
		font-size: 30px;}
}

@keyframes anim4 {
	from {}
	5% {transform: rotateY(30deg) translateX(-28vw) scale(1.1);}
	6% {transform: rotateY(0deg) translateX(-28vw) scale(1.1);}
	9% {transform: rotateY(0deg) translateX(-28vw) scale(1.4);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;}
	11% {transform: rotateY(0deg) translateX(-29vw) scale(1.7);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;
		font-size: 0;}
	20% {transform: rotateY(0deg) translateX(-29vw) scale(1.7);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;
		font-size: 30px;}
	to {transform: rotateY(0deg) translateX(-29vw) scale(1.7);
		z-index: 5;
		box-shadow: -90px 15px 50px -10px black;
		font-size: 30px;}
}

.about:hover {
	animation: anim1 6s linear 1;
}

.works:hover {
	animation: anim2 6s linear 1;
}

.freetime:hover {
	animation: anim3 6s linear 1;
}

.contacts:hover {
	animation: anim4 6s linear 1;
}